<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Automation Suite">

<!--    <listeners>-->
<!--        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>-->
<!--    </listeners>-->

    <test name="UI Tests">
        <classes>
            <class name="UItests.SearchTests"/>
            <class name="UItests.ProductTests"/>
            <class name="UItests.LoginTests"/>
            <class name="UItests.CartTests"/>
        </classes>
    </test>

</suite>